html, body, .container-fluid, .row {
	font-size: 15px;
	height: 100%;
}

a {
	color: inherit;
}

a:HOVER {
	text-decoration: none;
	color: inherit;
}

.controller {
	height: 100%;
	background-color: #333;
}

.controller-container {
	border-right: 1px solid #F3F3F3;
	height: 100%;
	position: fixed;
}

.blackboard {
	position: absolute;
	right: 0px;
}

.list {
	padding-top: 20px;
}

.list blockquote:HOVER, .closeBtn:HOVER {
	cursor: pointer;
	background-color: #F3F3F3;
}

.header {
	padding-right: 15px;
	padding-bottom: 35px;
}

.closeBtn {
	position: fixed;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	font-size: 2em;
	line-height: 2em;
	height: 2em;
	width: 2em;
	right: -0.35em;
	top: -0.35em;
}